@import url('https://fonts.googleapis.com/css2?family=Abel&family=Happy+Monkey&family=Julius+Sans+One&display=swap');
*{
    
    color: white;
    font-family: 'Abel', sans-serif;
    margin: 0;

}

header{
    width: 100%;
    height: 80px;
    
    background: linear-gradient(90deg, #401A78 0%, #0B042C 98.55%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
}

body {

    margin: 0;
    padding: 0;

    background: linear-gradient(269deg, #0B0323 16.75%, #000000 88.04%);

    animation: fadeIn 1s ease-in forwards;
    display: flex;
    flex-direction: column;

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    list-style: none;

    width: 100%;
    
}



.logo{

    width: 52px;
    height: 52px;

    margin-left: 50%;
}

.nav-link{
    white-space: nowrap;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;

}

.title{
    font-size: 2.5rem;
    font-family: 'Abel', sans-serif;
    color: white;
    margin-top: 50px;
    text-align: center;
}

.subtitle{
    font-size: 1.5rem;
    font-family: 'Abel', sans-serif;
    color: white;
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
}

.sign-in-form{
    /* Rectangle 33 */

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

/* gradient 1 */
background: linear-gradient(180deg, #401A78 0%, #0B042C 99.52%);
border: 9px solid #000000;
border-radius: 50px;

width: fit-content;
padding: 1% 5% 5% 5%;

margin-top: 5%;
margin-left: auto;
margin-right: auto;

}
.form-title{
    font-size: 2rem;
    font-family: 'Abel', sans-serif;
    color: white;
    font-weight: 300;
}

.info-input{
    /* Rectangle 34 */

background: linear-gradient(180deg, #401A78 0%, #0B042C 99.52%);
border: 5px solid #000000;
border-radius: 39px;

width: 300px;
height: 40px;

font-size: large;

padding-left: 3%;

transition: all 0.3s ease-in-out, filter 0.3s ease-in-out;

}

.info-input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.form-subtitle{
    font-size: 2rem;
    font-family: 'Abel', sans-serif;
    color: white;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
}

.stock-pfp{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    
}

.stock-pfp-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stock-pfp-text{
    font-size: 1.5rem;
    font-family: 'Abel', sans-serif;
    color: white;
    font-weight: 300;
    text-align: center;
    position: absolute;
    top: 90%;
}

.stock-pfp-image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    margin-bottom: 15%;
}

#create-account{
    font-size: 2rem;
    height: fit-content;
    font-weight: lighter;
    width: 90%;
    padding: 2%;
}

#sign-in{
    font-size: 2rem;
    height: fit-content;
    font-weight: lighter;
    width: 90%;
    padding: 2%;
}
    
.all-pfp-canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;

    width: auto;
    height: 100%;

    background: linear-gradient(180deg, #401A78 0%, #0B042C 99.52%);
    border: 9px solid #000000;
    border-radius: 50px;

    margin-left: auto;
    margin-right: auto;

    opacity: 0;

    padding-top: 3%;

}

.all-pfp-text{
    font-size: 1.5rem;
    font-family: 'Abel', sans-serif;
    
    font-weight: 300;
    text-align: center;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
    margin-bottom: 0;
}

/*

position: absolute;
left: 29.34%;
right: 29.17%;
top: 91.96%;
bottom: 0%;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;

text-align: center;

background: linear-gradient(90deg, #9F43A1 0%, #FF0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
well, that gonna be global chat of the murder drones community  so they dont need other programs, just sign in and u can talk with the fandom! i think that great idea! am i too fast for u? i guess not, im working the profile pictures, as u see, there a 7 stock pfp, i maybe let ppl put their own pfp in the future, that nothing, i just lowered the discord volume
i making the solver text_color soo long cuz the text color is gonna be a gradient, yeee, but to make it cool, i need lots of shit, that nothing, the best part is gonna be when its gonna work i might go to vc with my friend soon, the result i will post in the media of the server, okay? see ya later!

hiiii! so watch as i do it from my laptop and my phone
tete is my phone account
if u want i can show u all the code to prove that its not a virus
that was an unintentional 

okay, sending
i send it in dms
yeee, that the idea, i already did the md fanbase site with minigame
there is


*/

.pfp-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pfp-text{
    font-size: 2.5rem;
    font-family: 'Abel', sans-serif;
    color: white;
    font-weight: 100;
    text-align: center;

}

@keyframes fadeIn {
    0%{opacity: 0; }
    100%{opacity: 1; }
}

@keyframes fadeOut{
    0%{opacity: 1; }
    100%{opacity: 0; }
}

.pfpButton{
    background-color: rgba(0,0,0,0);
}    

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;

}

.global-chat{
    /* Rectangle 29 */
    display: flex;
    justify-content: center;
    flex-direction: column;


    background: linear-gradient(180deg, #080741 0%, #01030D 100%);
    border: 11px solid #000000;
    border-radius: 38px;

    width: 370px;
    height: 670px;

    padding: 1%;

    margin-left: auto;
    margin-right: auto;

}

.send-message-button{
    background: linear-gradient(180deg, #401A78 0%, #0B042C 99.52%);
    border: 5px solid #000000;
    border-radius: 39px;

    width: fit-content;
    height: fit-content;

    font-size: large;

    padding: 2.5% 3% 2.5% 3%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.send-message-button:hover{
    filter: hue-rotate(60deg) brightness(1.5);
}

.send-icon{
    width: 33px;
    height: 23px;
}

.chat-ui{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

}

.account-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    border: 5px solid black;
    border-radius: 37px;

    width: fit-content;

    padding: 5px 10px 5px 10px;

    background: linear-gradient(180deg, rgba(64, 26, 120, 0.2) 0%, rgba(11, 4, 44, 0.2) 99.52%);
    
}

.all-messages{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    height: 100%;
    
    overflow-y: auto;

}

.message-text-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.message-text{
    width: auto;
    overflow-wrap: anywhere;
}

.message-pfp{
    width: 75px;
    height: 75px;
}

footer{

    margin-top: 5%;

    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: black;

    border: 1px solid white;

    gap: 50px;

    padding-bottom: 2%;

    text-align: center;

}

.footer-logo{

    margin-top: 2%;
}

.system-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    width: stretch;
    padding: 5px;

    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid red;
    border-radius: 20px;

}

.rules-system-info-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    width: fit-content;
    padding: 1% 3% 1% 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    background: linear-gradient(180deg, #401A78 0%, #0B042C 99.52%);
    border: 9px solid #000000;
    border-radius: 50px;

    transition: all 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.rules-system-info-div:hover, .info-input:hover{
    filter: hue-rotate(60deg) brightness(1.5);
}
@media (max-width: 1024px) {
    header{
        height: 50px;
    }

    .logo{
        width: 30px;
        height: 30px;

        margin-left: 30%;
    }

    .nav-link{
        font-size: 10px;
    }

}

@media (max-width: 420px) {
    .global-chat{
        width: auto;
    }
    .sign-in-form{
        width: auto;
    }
}

@media (max-width: 380px) {
   .info-input{
        width: -webkit-fill-available;
    }
    .info-input-div{
        width: -webkit-fill-available;
    }
}   

@media (max-width: 333px) {
    .account-info{
        width: auto;
    }
    .time-stamp-text{
        display: none
    }
}

.time-stamp-text{
    opacity: 0.5;
}

.username-time-stamp-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.saved-account-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.message-username.owner{
    background: linear-gradient(90deg, rgb(179, 255, 0) 0%, rgb(255, 77, 0) 100%);  
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.role-badge-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1px 3px 1px 3px;
    border-radius: 15px;
}
.role-badge-div.owner{
    background-color: rgb(168, 143, 0);
    color: crimson;
}

.role-badge-div.user{
    background-color: rgba(128, 128, 128, 0.374);
    color: black;
}

.role-badge-div.moderator{
    background-color: rgb(123, 0, 0);
}

.role-badge-div.creator{
    background-color: rgb(0, 0, 183);
}

.role-badge-img{
    width: 20px;
}

.role-badge.owner{

    color: crimson;
}

.role-badge.user{

    color: black;
}

.role-badge.moderator{
    color: rgb(54, 0, 0);
}

.role-badge.creator{
    color: rgb(0, 0, 88)
}

.reply-img{
    width: 30px;
    height: 30px;
}

.normal-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.extra-interact-div{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

.message{
    background: transparent;
    border: none;
    width: stretch;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 2px;
}

.reply-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.message.replied{
    background-color: rgba(255,255,255,0.3);
    border: 2px solid black;
    border-radius: 30px;
    padding: 0px;
}

.message.unreplied{
    background-color: transparent;
    border: none;
    padding: 2px;
}

.message.your-original-reply{
    background: rgba(0, 255, 0, 0.2);
    border-radius: 15px;
}

.original-reply-message-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    
    padding: 5px;
    border-radius: 15px;
    width: stretch;
}

.original-reply-img{
    width: 20px;
    height: 20px;
    transform: scaleX(-1);
}

